<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				極速光纖網路
			</h1>
		</div>
		<div class="col-md-8 col-md-offset-2 text-center" id="content">
			<%= image_tag "table.png",width:"624px" %>
		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/" id="show-btn">
				<div class="col-md-12">
					打開看更多特點說明
				</div>
				<div class="col-md-12">
					<%= image_tag "tri-up.png",width:"624px" %>
				</div>
			</a>
		</div>

		<div class="col-md-8 col-md-offset-2" id="hide-content">
			<h3 style="color: #ee7066;">光纖電纜上網超快：</h3> 
			使用光纖同軸電纜(HFC)上網，比同等級的ADSL寬頻大數倍，上網速度極快。

			<h3 style="color: #ee7066;">不用電路月租費：</h3> 
			上網費用單純，只需繳交一筆上網費用，不必再繳電路月租費。免電話撥接，可省下電話費。

			<h3 style="color: #ee7066;">不需繁雜設定：</h3> 
			不需繁雜設定，即使電腦初學者都可輕易使用。開機即上網(Always on)。

			<h3 style="color: #ee7066;">安裝時間快速彈性</h3>
			假日可彈性配合客戶時間安裝，且安裝時間快速簡便，最適合上班一族申請。

		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/"  id="hide-btn">
				<div class="col-md-12">
					<%= image_tag "tri-down.png",width:"624px" %>
				</div>
				<div class="col-md-12">
					收起特點說明
				</div>
			</a>
			
		</div>

		<div class="col-md-12 text-center" style="margin-top: 30px;">
			<%= image_tag "net1.jpg",width:"700px" %>
		</div>
		<div class="col-md-12 text-center" style="margin-top: 20px;">
			<%= image_tag "net2.jpg",width:"700px" %>
		</div>




	</div>
</div>