<div class="container" id="footer">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center" id="footer-nav">
			<div class="col-md-2 col-md-offset-1">
				<%= link_to "數位電視", welcome_index_path %>
			</div>
			<div class="col-md-2">
				<%= link_to "光纖上網", net_welcome_index_path %>
			</div>
			<div class="col-md-2">
				<%= link_to "防護系統", safe_welcome_index_path %>
			</div>
			<div class="col-md-2">
				<%= link_to "服務據點", location_welcome_index_path %>
			</div>
			<div class="col-md-2">
				<%= link_to "聯絡我們", helper_welcome_index_path %>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2 text-center">
			copyright @ 大台北網路資訊
		</div>
		<div class="col-md-2">
			網頁製作：群體資訊
		</div>
	</div>
</div>