<div class="bg-brown">
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-12 text-center" id="form">
				<div class="col-md-6 test-center">
					<h1 id="apply-title">
						<%= image_tag "bubble.png",height:"70px" %>
						申請或洽詢
					</h1>
					<div class="col-md-10 col-md-offset-2 text-left"style="margin-top:20px;">
						若您對優惠專案有興趣，或任何想要瞭解的地方<br>
						歡迎留下您的聯絡資訊，將由專人在最快的速度內與您聯繫。<br>
					</div>
					<div class="col-md-10 col-md-offset-2 text-left" style="margin-top:20px;">
						請放心，您的資料僅供客服人員聯絡之用，我們保護您的個資安全，絕對不會外流，請安心填寫！
					</div>
				</div>
				<div class="col-md-6 no-padding">
					
					<%= simple_form_for(@info, html: { class: 'form-horizontal' }) do |f| %>
						<div class="form-group">
							<%= f.label :name,"姓名：",class:"col-sm-5 control-label" %>
							<div class="col-sm-6 no-padding">
								<%= f.input :name,class:"form-control", label: false %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :number,"電話：",class:"col-sm-5 control-label" %>
							<div class="col-sm-6 no-padding">
								<%= f.input :number,class:"form-control", label: false %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :time,"方便聯絡的時段：",class:"col-sm-5 control-label" %>
							<div class="col-sm-6 no-padding">
								<%= f.input :time,class:"form-control", label: false %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :note,"問題：",class:"col-sm-5 control-label" %>
							<div class="col-sm-7 no-padding">
								<%= f.input :note,class:"form-control",rows:6, label: false %>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 no-padding text-right">
								<%= f.submit "送出",class:"btn btn-yellow" %>
							</div>
						</div>
						
					<% end %>

				</div>
	<!-- 表單結束 -->
				<div class="col-md-12 test-center">
					<a href="#">
						<u>回頂端</u>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>