<!-- 標題列 -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" id="logo">
			台北數位寬頻資訊

		</div>
<!-- 右按鈕兩顆 -->
		<div class="col-md-3" style="margin-top: 35px;">
			<%= link_to location_welcome_index_path do %>
				<div class="col-md-5" style="padding-right:0; padding-left:30px ;">
					<div class="col-md-12 text-center">
						<%= image_tag "icon-helper.png",height:"40px" %>
					</div>
					<div class="col-md-12 text-center no-padding" style="color:rgb(51, 150, 220); margin-top:5px;">
						服務據點
					</div>
				</div>
			<% end %>
			<%= link_to helper_welcome_index_path do %>
				<div class="col-md-5 ">
					<div class="col-md-12 text-center">
						<%= image_tag "icon-location.png",height:"40px" %>
					</div>
					<div class="col-md-12 text-center no-padding" style="color:rgb(51, 150, 220); margin-top:5px;">
						客服專員
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<!-- 導覽列 -->
<div class="bg-brown" id="nav-border">
	<div class="container">
		<div class="row">
	<!-- 提示 -->
			<div class="col-md-12 bg-brown text-center" id="nav">
				<%= link_to welcome_index_path do %>
					<div class="col-md-2 col-md-offset-1 bg-pink">
						<%= image_tag "icon-tv.png" %>
					</div>
				<% end %>
				<%= link_to net_welcome_index_path do %>
					<div class="col-md-2 bg-lightblue">
						<%= image_tag "icon-net.png" %>
					</div>
				<% end %>
				<%= link_to safe_welcome_index_path do %>
					<div class="col-md-2 bg-lightgreen">
						<%= image_tag "icon-safe.png" %>
					</div>
				<% end %>
				<%= link_to month_welcome_index_path do %>
					<div class="col-md-2 bg-lightyellow">
						<%= image_tag "icon-month.png" %>
					</div>
				<% end %>
				<%= link_to only_welcome_index_path do %>
					<div class="col-md-2 bg-black">
						<%= image_tag "icon-only.png" %>
					</div>
				<% end %>

			</div>
		</div>
	</div>
</div>