<!DOCTYPE html>
<html>
<head>
  <title>台北數位寬頻資訊站</title>

<META NAME="KeyWords" CONTENT="寬頻'數位電視'台北'網路'申請'監視器'優惠'凱擘'光纖'internet'taipei'application'tv'">

<META NAME="Description" CONTENT="台北最優惠！數位電視、光纖網路快速申裝：0982-036-614">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/nav' %>
	<%= render 'layouts/side_button' %>
	<% if notice or alert  %>
		<%= render 'layouts/alert' %>
	<% end %>
<%= yield %>
	
	<%= render 'layouts/form' unless params[:action] == "only" %>
	<%= render 'layouts/footer'  %>
</body>
</html>
