<!DOCTYPE html>
<html>
<head>
  <title>Tvwebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/nav' %>
	<%= render 'layouts/side_button' %>
	<% if notice or alert  %>
		<%= render 'layouts/alert' %>
	<% end %>
<%= yield %>
	
	<%= render 'layouts/form' unless params[:action] == "only" %>
	<%= render 'layouts/footer'  %>
</body>
</html>
